{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{% if user.dob %}{{ user.dob|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{% if user.gender %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Phno</th>
                <td>{{ user.phno }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Device_token</th>
                <td>{{ user.devicetoken }}</td>
            </tr>
            <tr>
                <th>Bloodgroup</th>
                <td>{{ user.bloodGroup }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ user.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('users_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
