{% extends 'base.html.twig' %}

{% block body %}
    <h1>Requests list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Qty</th>
                <th>Patientname</th>
                <th>Withinhours</th>
                <th>Status</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td><a href="{{ path('requests_show', { 'id': request.id }) }}">{{ request.id }}</a></td>
                <td>{{ request.type }}</td>
                <td>{{ request.qty }}</td>
                <td>{{ request.patientName }}</td>
                <td>{{ request.withinHours }}</td>
                <td>{{ request.status }}</td>
                <td>{% if request.createdAt %}{{ request.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if request.updatedAt %}{{ request.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('requests_show', { 'id': request.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('requests_edit', { 'id': request.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('requests_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
