{% extends 'base.html.twig' %}

{% block body %}
    <h1>LastDonations</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lastDonation.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ lastDonation.type }}</td>
            </tr>
            <tr>
                <th>Donationdate</th>
                <td>{% if lastDonation.donationDate %}{{ lastDonation.donationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lastdonations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('lastdonations_edit', { 'id': lastDonation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
